<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some users : </h2>

<ul *ngIf="listUsers">
  <li *ngFor="let user of listUsers">{{user.firstname}} {{user.lastname}} </li>
</ul><br>
<input [(ngModel)]="idUser">
<button (click)="deletetUser(idUser)">DeletetUser</button>

<div>  
    <form #userform="ngForm" >
       
         
   <div>  
    <input type="text" ngModel name='firstname' placeholder="Your First name" required firstname >  
    </div>  
    <div>  
    <br>  
    <input type="text" ngModel  name='lastname' placeholder="Your Last name" required lastname>  
  </div>  
    <br>  
    <div><input type="email" ngModel  name='email' placeholder="Your Email" required email></div>  
    <br>  
    <div>  
    <input type="Password" ngModel name='password' placeholder="Your password" required password>  
  </div>  
  <br>  
  <div>  
    <button class="btn-validate" (click)="Onsubmit(userform)" type="button">Validate</button>

  </div>  

  </form>  
</div>

<router-outlet></router-outlet>
